:root {
  --dark-900: #141414;
  --dark-800: #1f1f1f;
  --dark-700: #242424;
  --dark-600: #2e2e2e;
  --dark-500: #3b3b3b;
  --dark-400: #424242;
  --dark-300: #696969;
  --dark-200: #828282;
  --dark-100: #b8b8b8;
  --dark-50: #c9c9c9;
  --white: #ffffff;
}
