.container {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  width: 100%;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  column-gap: 2rem;
}

.stackedCard {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.cardLabel {
  font-size: 1.2rem;
  color: var(--dark-100);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: calc(100vw - 20%);
    padding: 2rem 0;
  }

  .cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
  }
}
